html{
    font-size: 63.25%;
    background: #FAFFFD;
    img{
        display: block;
    }
    a{
        text-decoration: none;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .topBar{
        margin: 30px 20px 0;
        border: 2px solid #76A490;
        border-radius: 20px;
        background: #fff;
        .topBorder{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 60px;
            margin: 0 auto;
            gap: 25%;
            h1{
                .icon{
                    width: 40px;
                    height: 40px;
                }
            }
            .logo{
                img{
                    width: 65px;
                }
            }
        }
    }
}
main{
    margin: 25px 20px 0;
    padding: 100px 0 10px;
}
.graph{
    display: flex;
    align-items: center;
    gap: 15px;
    .graph-icon{
        width: 35px;
    }
    .Ttl{
        display: flex;
        align-items: center;
        gap: 10px;
        img{
            width: 25px;
        }
    }
    span{
        color: #003D23;
        font-size: 1.2rem;
    }
    h2{
        color: #003D23;
        font-size: 2rem;
    }
}
.trust-graph{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    img{
        width: 315px;
    }
}
.character{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-top: 20px;
    img{
        height: 18%;
        position: fixed;
        bottom: 115px;
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #fff;
    padding: 20px;
    .bottomBar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .footer-icon{
            flex: 1;
            text-align: center;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
            img{
                display: block;
                padding-bottom: 15px;
            }
            p{
                color: #003D23;
            }
        }
    }
}