body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        "Noto Sans JP",
        "Yu Gothic",
        Meiryo,
        sans-serif;
}
html{
    font-size: 62.5%;
    background: #FAFFFD;
}
img{
    display: block;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .topBar{
        margin: 30px 20px 0;
        border: 2px solid #76A490;
        border-radius: 20px;
        background: #fff;
        .topBorder{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 60px;
            margin: 0 auto;
            gap: 25%;
            h1{
                .icon{
                    width: 40px;
                    height: 40px;
                }
            }
            .logo{
                img{
                    width: 65px;
                }
            }
        }
    }
}
main{
    margin: 30px 20px 0;
    padding: 100px 0 100px;
}
.help{
    display: flex;
    align-items: center;
    gap: 15px;
    .help-icon{
        width: 35px;
    }
    h2{
        color: #003D23;
        font-size: 2rem;
    }
}
.help-list{
    border: 1px solid #88C0A8;
    border-radius: 5px;
    width: 90%;
    height: 50%;
    margin: 30px auto;
    padding: 30px 0;
    background: #fff;
    .help-name{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15%;
        margin-bottom: 25px;
        img{
            width: 60px;
        }
        p{
            font-size: 2rem;
        }
    }
}
.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .challenge-btn , .finish-btn{
        width: 37%;
        height: 35px;
        background: #88C0A8;
        border-radius: 5px;
        text-align: center;
        line-height: 35px;
        box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
        color: #fff;
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: #fff;
    padding: 20px;
    .bottomBar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .footer-icon{
            flex: 1;
            text-align: center;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
            img{
                display: block;
                padding-bottom: 15px;
            }
            p{
                color: #003D23;
            }
        }
    }
}

dialog {
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 25%;
    max-width: 800px;
    max-height: 600px;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    p{
        font-size: 1.5rem;
        text-align: center;
        padding: 35px;
    }
}
dialog::backdrop {
    background: rgb(0 0 0 / 0.75);
    backdrop-filter: blur(5px);
}
.Buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .yes , .no{
        width: 40%;
        height: 30%;
        background: #88C0A8;
        border-radius: 5px;
        text-align: center;
        line-height: 35px;
        box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
        color: #fff;
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
    }
}