html{
    font-size: 62.5%;
    background: #FAFFFD;
    img{
        display: block;
    }
    a{
        text-decoration: none;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .topBar{
        margin: 30px 20px 0;
        border: 2px solid #76A490;
        border-radius: 20px;
        background: #fff;
        .topBorder{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 60px;
            margin: 0 auto;
            gap: 25%;
            h1{
                .icon{
                    width: 40px;
                    height: 40px;
                }
            }
            .logo{
                img{
                    width: 65px;
                }
            }
        }
    }
}
main{
    margin: 30px 20px 0;
    padding: 100px 0 150px;
    .money{
        display: flex;
        align-items: center;
        gap: 15px;
        .money-icon{
            width: 35px;
        }
        h2{
            color: #003D23;
            font-size: 2rem;
        }
    }
    .goal-content{
        padding-top: 20px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        .goal{
            background: #88C0A8;
            width: 95%;
            height: 80px;
            border-radius: 5px;
            padding: 8px 11px;
            p{
                font-size: 1.5rem;
                font-weight: 600;
                color: #fff;
                padding-bottom: 6px;
            }
            .amount{
                background: #fff;
                width: 100%;
                height: 35px;
                border-radius: 5px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                span{
                    font-size: 1.5rem;
                    padding-right: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
    .assets-content{
        border: 2px solid #88C0A8;
        border-radius: 5px;
        margin: 0 auto;
        padding: 11px 15px;
        width: 95%;
        background: #fff;
        .assets{
            display: flex;
            gap: 10px;
            border-bottom: 1px solid #88C0A8;
            padding-bottom: 10px;
            h2{
                font-size: 1.5rem;
                color: #003D23;
            }
        }
        .assets-list{
            display: flex;
            gap: 14px;
            border-bottom: 1px solid #88C0A8;
            padding: 20px 0;
            width: 100%;
            p,span{
                font-size: 1.4rem;
                color: #2A2A2A;
            }
            span{
                margin-left: auto;
                padding-right: 10px;
            }
        }
        .assets-list:last-child{
            border-bottom: none;
            padding-bottom: 10px;
        }
    }
    .management{
        .income{
            display: flex;
            gap: 10px;
            border-bottom: 1px solid #88C0A8;
            padding-bottom: 10px;
            margin-top: 20px;
            h2{
                color: #003D23;
            }
        }
        .periodãƒ¼btns{
            display: flex;
            justify-content: center;
            gap: 40px;
            margin-top: 25px;
            .yearly-btn{
                width: 125px;
                height: 25px;
                background: #88C0A8;
                border: 1px solid #76A490;
                border-radius: 20px;
                color: #fff;
                font-size: 1.4rem;
                text-align: center;
                box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
            }
            .monthly-btn{
                width: 125px;
                height: 25px;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 15%);
                border-radius: 20px;
                color: #2A2A2A;
                font-size: 1.4rem;
                text-align: center;
                box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
            }
        }
        .date{
            padding: 20px 0;
            display: flex;
            justify-content: center;
        }
        .manage-content{
            border: 2px solid #88C0A8;
            border-radius: 5px;
            margin: 0 auto;
            padding: 5px 15px;
            width: 95%;
            background: #fff;
            .manage-list{
                display: flex;
                gap: 14px;
                border-bottom: 1px solid #88C0A8;
                padding: 20px 0;
                width: 100%;
                p,span{
                    font-size: 1.4rem;
                    color: #2A2A2A;
                }
                span{
                    margin-left: auto;
                    padding-right: 10px;
                }
            }
            .manage-list:last-child{
                border-bottom: none;
            }
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: #fff;
    padding: 20px;
    .bottomBar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .footer-icon{
            flex: 1;
            text-align: center;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }
            img{
                display: block;
                padding-bottom: 15px;
            }
            p{
                color: #003D23;
            }
        }
    }
}