html{
    font-size: 63.25%;
    background: #F4F8F6;
    img{
        display: block;
    }
    a{
        text-decoration: none;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .topBar{
        margin: 30px 20px 0;
        border: 2px solid #76A490;
        border-radius: 20px;
        background: #fff;
        .topBorder{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 60px;
            margin: 0 auto;
            gap: 25%;
            h1{
                .icon{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
main{
    margin: 30px 20px 0;
    padding: 100px 0 100px;
    .money{
        display: flex;
        align-items: center;
        gap: 15px;
        .money-icon{
            width: 35px;
        }
        h2{
            color: #003D23;
            font-size: 2rem;
        }
    }
    .goal-content{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        .goal{
            background: #88C0A8;
            width: 95%;
            height: 80px;
            border-radius: 5px;
            padding: 8px 11px;
            p{
                font-size: 1.5rem;
                font-weight: 600;
                color: #fff;
            }
            .amount{
                background: #fff;
                width: 100%;
                height: 35px;
                border-radius: 5px;
                span{
                    font-size: 1.5rem;
                    padding-right: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: #fff;
    padding: 20px;
    .bottomBar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .footer-icon{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                padding-bottom: 15px;
            }
        }
    }
}