html{
    font-size: 62.5%;
    background: #FAFFFD;
    img{
        display: block;
    }
    a{
        text-decoration: none;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .topBar{
        margin: 30px 20px 0;
        border: 2px solid #76A490;
        border-radius: 20px;
        background: #fff;
        .topBorder{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: 60px;
            margin: 0 auto;
            gap: 25%;
            h1{
                .icon{
                    width: 40px;
                    height: 40px;
                }
            }
            .logo{
                img{
                    width: 73px;
                }
            }
        }
    }
}
main{
    margin: 30px 20px 0;
    padding: 100px 0 100px;
    .plan{
        display: flex;
        align-items: center;
        gap: 15px;
        .plan-icon{
            width: 35px;
        }
        h2{
            color: #003D23;
            font-size: 2rem;
        }
    }
    .QandA{
        margin-top: 25px;
        p{
            font-size: 1.5rem;
            color: #2A2A2A;
        }
        .subQ{
            font-size: 1.3rem;
        }
        .answer-box{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border: 2px solid #88C0A8;
            border-radius: 5px;
            width: 100%;
            margin-top: 10px;
            padding: 0 20px;
            position: relative;
            .answer{
                text-align: center;
                font-size: 1.5rem;
                color: #2A2A2A;
            }
            span{
                font-size: 1.5rem;
                position: absolute;
                right: 30px;
            }
        }
    }
    .create{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 40px 0;
        button{
            background: #88C0A8;
            border: 1px solid #76A490;
            border-radius: 10px;
            width: 120px;
            height: 40px;
            padding: 8px 20px;
            color: #fff;
            font-size: 1.5rem;
            box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background: #fff;
    padding: 20px;
    .bottomBar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .footer-icon{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                padding-bottom: 15px;
            }
        }
    }
}